#tablero {
    font-family: 'Symbola';
    text-align: center;
}

tr:nth-child(odd) td:nth-child(odd), 
tr:nth-child(even) td:nth-child(even) {
background: cornsilk; 
}
tr:nth-child(odd) td:nth-child(odd), 
tr:nth-child(even) td:nth-child(even) {
background: red;
}