.cards-container .card{
 cursor: pointer;
}
body{
  background-color: #eceff1;
}
  .cards-container {
    column-break-inside: avoid;
  }
.wt{
  width: 100%;
  height: 500px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
}
.testimonial-group > .rown {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .rown > a {
  display: inline-block;
  float: none;
}
.nm{
  padding: 0px !important; 
}
.logo{
  width: 200px;
}
.rt{
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

.slideimg{
  max-width: 100%;
  margin-left: 15px;
  border-radius: 10px;
  max-height: 300px;
}
.up{
  margin-top: -200px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #00bfa5;
}
  .cards-container .card {
    display: inline-block;
    overflow: visible;
  }
  
  @media only screen and (max-width: 600px) {
    .cards-container {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
    .cards-container .card{
        width: 100%;
     }
     #modal1{
      width: 100%;
      height: 100%;
      max-height: 100% !important;
    }
    #modal1 .modal-content{
      height: 100%;
    }
    
  }
  @media only screen and (min-width: 601px) {
    .cards-container {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    .cards-container .card{
        width: 100%;
      }
      #modal1{
        height: 100%;
        max-height: 100% !important;
      }
      #modal1 .modal-content{
        height: 100%;
      }
  }
  @media only screen and (min-width: 993px) {
    .cards-container {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
    .cards-container .card{
        width: 100%;
       }
  }
  .text-center {
    text-align: center;
  }
.card{
  border-radius: 10px;
}
.card .card-image img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  
  