<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Style css custom-->
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/simplelightbox.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <div id="app">
        <div class="barstyle teal accent-4 wt">
          <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/maril-d27bf.appspot.com/o/logo.png?alt=media&token=f44286f8-0f89-4210-a4cf-17ea38ac0cba" alt="logo" class="logo">
                  </div>
                </div>
                <div class="row">
                    <div class="botones center">
                        <a class="waves-effect waves-light btn-flat white-text">Toya shop</a>
                        <a class="waves-effect waves-light btn-flat white-text">Todo en Palma</a>
                    </div>
                </div>
            
               
          </div>
         
        </div>
        <div class="container  up">
              <div class="row">
                      <div id="cards-content" class="col s12 cards-container ">
                          <product-card
                              v-for="(producto, index) in productos"
                              :key="producto.id"
                              :id="producto.id"
                              :img="producto.img"
                              :title="producto.title"
                              :price="producto.price"
                              :about="producto.about">
                          </product-card>
                      </div>
              </div>
        </div>
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <div class="row">
                <h4 class="col 12 ">{{ titulo }}</h4>
                <div class="testimonial-group col s12">
                    <div class="rown">
                        <img-card
                        v-for="(imgs, index) in img"
                        :key="index"
                        :img="imgs">
                    </img-card>
                    </div>
                  </div>
                  <h5 class="col 12 green-text">${{ precio }}</h5>
                  <p class="col s12">{{ descripcion }}</p>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
          </div>
      </div>
      

        
      <!--Firebase scripts-->
      <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
       <!--JQuery plugin-->
       <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!--JavaScript app code-->
      <script src="/js/app2.js"></script>
      <script src="/js/simple-lightbox.min.js"></script>

    </body>
  </html>